* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}

.wraper .content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wraper .content header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 4px 0px #555;
          box-shadow: 0 0 4px 0px #555;
  width: 100%;
}

.wraper .content header .header__logo {
  width: 250px;
}

.wraper .content header img {
  width: 200px;
  margin: 0 25px;
}

.wraper .content header .header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wraper .content header h1 {
  font-size: 24px;
  color: #575757;
  margin: 16px 0;
}

.wraper .content header p {
  font-size: 18px;
  max-width: 850px;
  text-align: center;
  color: #575757;
  margin: 16px 0;
}

.wraper .content h2 {
  font-size: 20px;
  color: #575757;
  margin: 16px 0;
  text-align: center;
}

.wraper .content main {
  width: 100%;
}

.wraper .content .table {
  border: 1px solid #CCC;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.wraper .content .table .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  position: relative;
}

.wraper .content .table .list .list__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #555;
  margin: 2px 10px;
  background: -webkit-gradient(linear, left bottom, left top, from(#bbbbbb), to(#ffffff));
  background: linear-gradient(0deg, #bbbbbb, #ffffff);
  height: 55px;
}

.wraper .content .table .list .list__element .list__element__basis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wraper .content .table .list .list__element .list__element__basis .list__element__number {
  display: block;
  width: 100px;
  font-size: 18px;
}

.wraper .content .table .list .list__element .list__element__basis .list__element__name {
  display: block;
  font-size: 18px;
  max-width: 480px;
}

.wraper .content .table .list .list__element .sublist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.wraper .content .table .list .list__element .sublist a {
  margin: 0 16px;
}

.wraper .content .table .list .list__element .sublist a:hover {
  margin: 0 15px;
}

.wraper .content .table .list .list__element .sublist .sublist__icon {
  height: 32px;
}

.wraper .content .table .list .list__element .sublist a:hover .sublist__icon {
  height: 34px;
}

.wraper .content .table .list .list__element:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#536e50), to(#ceffa0));
  background: linear-gradient(0deg, #536e50, #ceffa0);
}

.wraper footer {
  -webkit-box-shadow: 0 0 4px 0px #555;
          box-shadow: 0 0 4px 0px #555;
}

.wraper footer p {
  font-size: 18px;
  color: #575757;
  padding: 10px 24px;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */